.principal{
    background: darkgrey;
    padding: 20px;
}

.titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

p{
    text-align: center;
    font-size: 15px;
}

em strong{
    color: crimson;
}

#mision{
    font-size: 20px;
}

.diferencial{
    background: #ffffff;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendiferencial{
    width: 40%;
}

.items{

    font-style: italic;
}